@import "tailwindcss";
button{
    background: #F86D72;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    padding: 10px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    color: white;
    width: 100px;
}
button:hover{
    background: #dd6165;
    color: white;
}
.closed{
    background: transparent;
    padding: 0px;
    color: gray;
    font-size: 20px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}
.closed:hover{
    color: black;   
}